<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">Mi Sitio</div>
        <ul class="nav-links">
            <li><a href="#inicio">Listado</a></li>
            <li><a href="#servicios">Producto Nuevo</a></li>
            <li><a href="#acerca">Editar</a></li>
            <li><a href="#contacto">Eliminar</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </nav>




</body>
</html>
